/* 
flex-grow: to adjust extra space 
flex-shrinks: to adjust length/width when disired space it not provided for boxes
are other mechanisms of providing length and height adjustments 
it gives how many times it should grow or shrink
their default value if 1 so space is evently distributed among all elements  
*/
.box-container{
    background-color: bisque;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;  */
}
.box-container div[class ^= "box-"]{
    border: 2px solid #ddd;
    padding: 1rem;
    width: 300px;
    /* after we have achieved given width only then increase and decrease happens */
    /* when given width coundn't be accomodated only after then shirking works */
    /* but if flex-wrap is ON then shrink might now work since it auto gives it a new row instead of shrinking */
}
.box-1{
    background-color: lightblue;
    order: 1;
    flex-grow: 2;
}
.box-2{
    background-color: lightgoldenrodyellow;
    flex-shrink: 2;
}
.box-3{
    background-color: lightsalmon;
    order: 1;
}
.box-4{
    background-color: lightyellow;
    flex-grow: 2;
}
.box-5{
    background-color: lightpink;
    flex-shrink: 2;
}