/* default flex moves it's items from left to right 
to make a flex container just give is attribute
it gives them equal width by default 
giving explicit width that don't fit in container doesn't applies on them 
we need to wrap content 
 */


.box-container{
    background-color: bisque;
    border: 2px solid red;
    display: flex;
}
.box-container div[class ^= "box-"]{
    border: 2px solid #ddd;
    padding: 1rem;
}
.box-1{
    background-color: lightblue;
}
.box-2{
    background-color: lightgoldenrodyellow;
}
.box-3{
    background-color: lightsalmon;
}
.box-4{
    background-color: lightyellow;
}
.box-5{
    background-color: lightpink;
}